<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: linear-gradient(to right,#7607a2,#1177de) ; color:#d4af37;">
    
  <div class="container text-center mt-5">
    <h1>Welcome, {{ username }}!</h1>
    <p>You are logged in successfully 🎉</p>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
  </div>
</body>
</html>
